{% extends 'base.html.twig' %}

{% block body %}
    <h1>Weitere Initiativen</h1>
    <ul class="bullet-inside">
        <li><a href="https://verbrannte-orte.de/" target="_blank">Verbrannte Orte.</a> Ein Onlineatlas zu den Orten der nationalsozialistischen Bücherverbrennungen 1933. </li>
        <li><a href="https://verbrannte-und-verbannte.de/" target="_blank">Verbrannte und Verbannte.</a> Die Liste der im Nationalsozialismus verbotenen Publikationen, Autoren und Verlage.</li>
    </ul>
{% endblock %}
