{% extends 'base.html.twig' %}

{% block body %}
    <h1>Weitere Initiativen</h1>
    <ul class="bullet-inside">
        <li><a href="https://verbrannte-orte.de/" target="_blank">Verbrannte Orte.</a> Ein Onlineatlas zu den Orten der nationalsozialistischen B체cherverbrennungen 1933. </li>
        <li><a href="https://wenn-buecher-brennen.podigee.io/" target="_blank">Wenn B체cher brennen - Potsdam 1933.</a> Eine Podcast-Reihe von Stefanie Schuster. </li>
        <li><a href="https://verbrannte-und-verbannte.de/" target="_blank">Verbrannte und Verbannte.</a> Die Liste der im Nationalsozialismus verbotenen Publikationen, Autoren und Verlage.</li>
        <li><a href="https://ausstellungen.deutsche-digitale-bibliothek.de/verbrannte-buecher/" target="_blank">Die Bibliothek der verbrannten B체cher.</a> Online-Ausstellung zur Sammlung Georg P. Salzmann in der Universit채tsbibliothek Augsburg.</li>
    </ul>
{% endblock %}
