{% extends 'base.html.twig' %}

{% block body %}
    <h1>Das Projekt</h1>
    <h2 id="team">Aktuelles Projektteam</h2>
    <dl>
        <dt>Projektleitung</dt>
        <dd>
            <a href="https://www.mmz-potsdam.de/team/werner-tress" target="_blank">Dr. Werner Treß</a>
            /
            <a href="https://www.mmz-potsdam.de/team/miriam-ruerup" target="_blank">Prof. Dr. Miriam Rürup</a>
        </dd>

        <dt>Redaktion und Koordination</dt>
        <dd>
            <a href="https://www.mmz-potsdam.de/team/julia-kleinschmidt" target="_blank">Julia Kleinschmidt</a>
        </dd>

        <dt>Recherche und Texte</dt>
        <dd>
            Katrin Huhn
        </dd>

        <dt>Technische Konzeption und Realisierung</dt>
        <dd>
            <a href="https://www.mmz-potsdam.de/team/daniel-burckhardt">Daniel Burckhardt</a>
        </dd>

        <dt>Gestaltung</dt>
        <dd>
            <a href="https://www.buero-edelweiss.de/">edelweiss* büro für grafik und design (Hamburg)</a>
        </dd>
    </dl>

    <h2 id="history">Projektgeschichte</h2>
    <p>
        Das Projekt „Bibliothek verbrannter Bücher. Eine Auswahl der von den Nationalsozialisten verfemten und verbotenen Schriften“ wurde 2003 am Moses Mendelssohn Zentrum für europäisch-jüdische Studien vom damaligen Direktor Prof. Dr. Julius H. Schoeps initiiert und von den beiden Bibliothekarinnen <a href="https://www.mmz-potsdam.de/team/karin-buerger" target="_blank">Karin Bürger</a> und <a href="https://www.mmz-potsdam.de/team/ursula-wallmeier" target="_blank">Ursula Wallmeier</a> redaktionell betreut.
    </p>

    <h3 id="advisory-board">Wissenschaftlicher Beirat</h3>
    <p>
        Die Auswahl der in der Bibliothek vertretenen Bücher erfolgte zwischen 2004 und 2006 durch einen wissenschaftlichen Beirat, bestehend aus
    </p>
    <ul class="bullet-inside">
        <li>Dr. Simone Barck † (Zentrum für Zeithistorische Forschung, Potsdam)</li>
        <li>Prof. Dr. Gerhard Bauer (Freie Universität Berlin)</li>
        <li>Dr. Margrid Bircken (Universität Potsdam)</li>
        <li>Arkadi Fried (Bibliothek der Jüdischen Gemeinde zu Berlin)</li>
        <li>Prof. Dr. Gert Mattenklott † (Freie Universität Berlin)</li>
        <li>Prof. Dr. Helmut Peitsch (Universität Potsdam)</li>
        <li>Prof. Dr. Silvia Schlenstedt †</li>
        <li>Prof. Dr. Julius H. Schoeps (Universität Potsdam)</li>
        <li>Dr. Doris Wendt (Georg Olms Verlag)</li>
        <li>Clemens Zintzen (Akademie der Wissenschaften und Literatur Mainz)</li>
    </ul>
    <h3 id="criteria">Auswahlkriterien</h3>
    <p>
        Die Grundlage der Auswahl bildeten die „Schwarzen Listen“, die der Berliner Bibliothekar Wolfgang Herrmann zusammen mit den Mitgliedern des „Ausschuss zur Neuordnung der Berliner Stadt- und Volksbüchereien“ im Frühjahr 1933 erstellte. Diese wurden Anfang Mai als Index für die Durchsuchung öffentlicher und privater Bibliotheken an die Deutsche Studentenschaft verschickt. Ab dem 16. Mai wurden sie auch im „Börsenblatt für den Deutschen Buchhandel“ veröffentlicht. Neben der „Schönen Literatur“ fanden auch Veröffentlichungen aus den weiteren Sachgebieten (Geschichte / Kunst / Politik und Staatswissenschaften / Literaturgeschichte und Religion, Philosophie, Pädagogik) Berücksichtigung.
    </p>
    <p>
        Von den „Schwarzen Listen“ waren mehrere Tausend bis 1933 erschienene Werke betroffen. Der Beirat formulierte für seine Auswahl folgende Kriterien:
    </p>
    <ul class="bullet-inside">
    <li>Repräsentativität für die Literatur und Kultur der Zeit vor 1933 und deren Strömungen und Richtungen</li>
    <li>Symptomatik für Prozesse und Tendenzen, auf die die NS-Ideologie besonders aggressiv reagierte (z. B. gegen Pazifismus und Kriegsdarstellung, gegen sozialistische Ideen und Erfahrungen, gegen kritische Rationalität, gegen „Dekadenz“ u. a.)</li>
    <li>Aufmerksammachen auf Autoren, Tendenzen, Denk- und Schreibstile, die nachhaltig zur Vergessenheit gebracht und erfolgreich verdrängt wurden</li>
    <li>Von Interesse für die Gegenwart jugendlicher Leser, ihnen geschichtliche Aufschlüsse vermittelnd und ihrer Aufnahme zugänglich</li>
    </ul>
    <p>
        Für die Aufnahme einer Publikation in die rund 300 Titel umfassende „Bibliothek verbrannter Bücher“ sollten mindestens drei davon zutreffen.
    </p>

    <h3 id="web-site">Die Web-Site verbrannte-buecher.de</h3>
    <p>
        Die erste Version der Web-Site verbannte-buecher.de zur Geschichte und Vorgeschichte der Bücherverbrennungen 1933 in Deutschland wurde 2007 als Gemeinschaftsprojekt des Moses Mendelssohn Zentrums und der Universität Potsdam im Rahmen einer Lehrveranstaltung der Potsdamer Germanistin Dr. Margrid Bircken von David Blum und Frank Voigt konzipiert. Frank Voigt übernahm die Redaktion und wurde dabei von Studierenden des Instituts für Germanistik der Universität Potsdam, dem Stadtarchiv Münster sowie dem ver.di-Archiv unterstützt.
    </p>
{% endblock %}
