/*
 * Setup $font-stack-sans and $font-stack-sans-combining
 * including font-face definitions
 */
@import 'font-definition.scss';

/*
 * Setup $color-* variables
 */
@import 'color-definition.scss';

/* == $grid-breakpoints
 * see https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
 */
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;

@mixin article-text {
    line-height: 1.6;
}

@mixin dta-styles {
        /* .head  { text-align:center; font-size:1.2em; margin-top:1em }
        .dta-head  { text-align:center; font-size:1.2em; margin-bottom:.5em } */

        .fw-top          { text-align:center; margin-bottom:2em; color:#666 }
        .fw-pageNum      { display:none }
        .fw-bottom-sig   { margin-top:1em; font-size:.8em; color:#666 }
        .fw-bottom-catch { text-align:right; margin-top:1em; margin-right:1em; font-size:.8em; color:#666 }

        /* quote mess */
        blockquote:before, blockquote:after, q:before, q:after {
          /* see http://www.paulchaplin.com/blog/css-reset-and-quirky-quotes */
          content:""; content:none;
        }

        /* place holders */
        .ph, .phbl { color:#666 }
        .phbl      { display:block; text-align:center }

        .titlepage   { text-align:center }
        .byline      { font-size:.9em; margin:1em 0 }
        .dta-anzeige { color:#aaa }
        .dedication  { padding-left:2em }

        .footnote       { color:#333; font-size:.8em; margin-top:.5em; margin-left:1em }
        .endnote        { color:#333; font-size:.8em; margin-top:.5em; margin-bottom:.5em }
        .endnote-indent { text-indent:1em }
        .fn-intext { vertical-align:super; font-size:.8em }
        .fn-sign { vertical-align:super; font-size:.8em }

        .dta-marginal {
            display: block;
            color: #666;
        }
        /* mpdf doesn't like combined classes, so put into separate rule */
        .dta-marginal-left {
            margin-left: -10px;
        }

        .dta-argument { text-align:center; font-size:.9em }

        .dta-cb { font-size:.8em; color:#666; text-align:center; display:block; margin:5px }

        .poem       { padding-left:2em; margin-bottom:1em }
        .dta-salute { margin-top:1em; display:inline }
        .speaker    { font-weight:bold }
        .stage      { font-style:italic; font-size:.9em }
        .stage .c   { font-style:italic; font-size:.9em }
        div.stage   { margin-bottom:.5em }

        div.dta-figure { /* font-size:.9em; */ margin-top:1rem; margin-bottom:0.8rem }
        div.dta-figure p { margin-left:1em; display: block; }
        .dta-figure img { margin-bottom:0.2rem }

        .titlepart           { font-size:1em }
        .titlepart-main      { margin-bottom:1em; font-size:1.6em }
        .titlepart-volume    { font-size:1em }
        .titlepart-edition   { font-size:1em }
        .titlepart-copyright { font-size:1em }
        .titlepart-desc      { font-size:1em }
        .titlepart-sub       { font-size:1.3em; margin-bottom:.5em }

        .docauthor { font-size:1em; margin-bottom:.5em }

        .gap       { color:#666 }

        /* dbu - remove
        .dta-foreign { color:#666 }
        .dta-foreign:before { content:"[" }
        .dta-foreign:after { content:"]" }
        */

        .dta-corr { border-bottom:dotted 2px #97002d }
        .dta-reg  { border-bottom:dotted 2px #2d9700 }
        .dta-abbr { border-bottom:dotted 2px #002D97 }
        .dta-supplied { color:#2D9700 }

        /* dramae */
        .dta-sp    { margin-bottom:1em }
        .dta-in-sp { display:inline }
        .dta-actor { float:right }

        /* lb @n */
        .dta-lb-n { float:right }

        /* renditions inline */
        .aq, span.dta-aq       { font-family:sans-serif }
        .b, span.dta-b { font-weight:bold }
        .blue, span.dta-blue     { color:blue }
        .fr, span.dta-fr       { border:1px dotted silver }
        .g, span.dta-g        { letter-spacing:0.125em }
        .g:before, span.dta-g:before { content:''; margin-left:0.125em }
        .g:after, span.dta-g:after  { content:''; margin-right:0em }
        .i, span.dta-i { font-style:italic }
        /*.in       { font-size:150% } */
        .k, span.dta-k        { font-variant:small-caps }
        .larger, span.dta-larger   { font-size:larger }
        .red, span.dta-red      { color:red }
        .s, span.dta-s        { text-decoration: line-through }
        .smaller, span.dta-smaller  { font-size:smaller }
        .sub, span.dta-sub      { vertical-align:sub; font-size:.7rem }
        .sup, span.dta-sup      { vertical-align:super; font-size:.7rem }
        .u, span.dta-u        { text-decoration:underline }
        .uu, span.dta-uu       { border-bottom:double 3px #000 }

        /* renditions block */
        /* Note: mpdf ignores display:block, so xsl must be adjusted to generate div instead of span */
        .dta-c, .c     { display:block; text-align:center }
        .et    { display:block; margin-left:2em; text-indent:0 }
        .et2   { display:block; margin-left:4em; text-indent:0 }
        .et3   { display:block; margin-left:6em; text-indent:0 }
        .dta-in-sp .et { display:inline; text-indent:2em }
        .right, .dta-right { display:block; text-align:right }
        .cw    { text-align:right }

        /* cast lists */
        table.dta-castgroup { border-collapse:collapse; border-spacing:0; margin:0; width:100% }
        td.castitem         { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px }
        .castitem           { margin-bottom:5px }
        td.roledesc         { vertical-align:middle; padding-left:5px }

        /* tables */
        .dta-table      { margin-top:0; margin-bottom: 1rem; /* margin-left:auto; margin-right:auto; background:#fff;*/  border-collapse:collapse }
        .dta-table th   { vertical-align:top; border:1px solid #ccc; padding:3px }
        .dta-table td   { vertical-align:top; border:1px solid #ccc; padding:3px }
        caption h1,
        caption h2,
        caption h3,
        caption h4,
        caption h5,
        caption h6 { font-size:1em; white-space:nowrap; padding-bottom:5px }

        /* lists */
        /* ul.dta    { list-style-type:none; padding-left:2em }
        ul.dta li { margin-bottom:3px }
        .dta-bibl { font-size:.9em } */

        .dta-columntext { white-space:normal }
        .dta-columntext td { padding-left:10px; padding-right:2em }

        table.list          { border-collapse:collapse; border-spacing:0; margin:0 }
        td.item-right       { border-left:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
        td.item-left        { border-right:1px solid #333; padding-right:10px; padding-left:0; padding-bottom:5px; padding-left:2em }
        td.dta-list-trailer { vertical-align:middle; padding-left:5px; text-indent:0 !important }
        td.dta-list-head    { vertical-align:middle; padding-right:2em }
        .dta-list           { padding-left:2em; margin-bottom:1em }
        .dta-list-item      { text-indent:-1em; margin-bottom:.5em }
        .dta-list-item-noindent { text-indent:0em; margin-bottom:.5em !important }
        .dta-list-item table { text-indent:0em }
        .dta-list-item {
            & p {
                display: inline;
            }
            &:before { content: "-"; padding-right:7px; }
        }

        .dta-lg             { margin-bottom:1em }

        /* all things brace ... */
        .braced-base       { display:inline-block; vertical-align:middle; padding:0 5px 0 5px }
        p .braced-base     { text-indent:0 !important }
        .braced-left-right { border-left:1px solid #333; border-right:1px solid #333; margin-left:1em }
        .braced-left       { border-left:1px solid #333; margin-left:1em }
        .braced-right      { border-right:1px solid #333 }
        .braced-base .dta-list-item { text-indent:0; margin-bottom:0 }

        .dta-pb { color:#666; font-size:.9em }

        /* .dta-p { text-indent:1em; margin:0px 0 }
        p {
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
        }
        */

        .dta-figure {
            p.dta-p {
                font-size: 14px;
            }
            img.image-responsive {
                max-width: 100%;
                height: auto;
            }
        }

        h2 + br, h3 + br, p > br:first-child {
            display: none;
        }
}


/* general styles */
body, .text-body {
    color: $color-body-text !important;
}

body {
    background-color: $color-background;

    font-family: $font-stack-sans;
    font-size: 18px;

    a {
        color: $color-color-link;
        text-decoration: underline;
        &:hover {
            color: $color-color-spot;
        }
    }

    .csl-bib-body {
        .csl-entry {
            margin-bottom: 1rem;
        }
    }
}

footer {
    background-color: $color-background-lighter;

    a {
        text-decoration: none;
        &:hover {
            color: $color-body-text;
            text-decoration: underline;
            text-decoration-color: $color-color-spot;
            text-underline-offset: 6px;
        }
    }
}

nav.navbar-dark {
    background-color: $color-background;

    .navbar-nav .nav-item {
        position: relative;

        a.nav-link {
            color: $color-body-text;
            text-decoration: none;

            &:hover {
                color: $color-body-text;
                text-decoration: underline;
                text-decoration-color: $color-color-spot;
                text-underline-offset: 6px;
            }
        }

        &.active a.nav-link {
            color: $color-color-spot;
        }
    }
}

/* see https://github.com/mnater/Hyphenopoly */
.hyphens-auto {
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.color-inverse {
    color: white;
    background-color: $color-color-spot;
}

.source-description, .source-link {
    @include article-text;
    @include dta-styles;
    margin-bottom: 1em;
    .editorial.foot {
        display: none;
    }
}

.mycoreViewer .tei {
    @include dta-styles;

    .editorial.foot {
        display: none;
    }

    /* indent first line */
    .dta-p {
        padding-left: -22px ;
        text-indent: 22px;
        margin-bottom: 0.2rem;
    }

    color: black;
}

@media print {
    /* http://drupal.stackexchange.com/a/59908*/
    a[href]:after {
        content: none;
    }
}

/* route-specific styles */
body.route-home {
    h3 {
        color: $color-color-spot;
    }

    .event {
        h4 {
            font-size: 1rem;
            font-weight: bold;
        }

        font-size: 1rem;
    }

    .library-entry {
        border-radius: 6px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .upper {
            justify-content: normal;

            a.name {
                font-weight: bold;
                text-decoration: none;
            }
        }

        .bottom {
            padding-top: 1rem;
        }
    }
}

body.route-library {
    .csl-bib-body {
        border-top: 1px solid $color-gray-dark;
        .csl-entry {
            position: relative;

            margin-bottom: 0;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;

            border-bottom: 1px solid $color-gray-dark;
            padding-left: 16%;
            padding-right: 16%;

            a.arrow {
                text-decoration: none;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                right: 0;
                width: 18px;
                height: 18px;
                background: url(../img/icon/arrow-external.svg);
                background-size: contain;
            }
        }
    }
}