$color-color-spot: #D4E200;
$color-color-link: #D4E200;
$color-body-text: #212529; // currently same as default in reboot
$color-background: #505050;
$color-background-spot: #F4F4F4;

$color-gray-light: #F4F4F4;
$color-gray-dark: #616161;
